extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec ante quis purus porta viverra a ut sem. Morbi ullamcorper mauris ex, ut posuere ipsum tristique non. Sed eget hendrerit elit. Aliquam dapibus neque ac velit molestie, quis iaculis nibh iaculis. Aenean massa neque, congue vel quam ac, accumsan molestie eros. Nulla facilisi. Nunc posuere lacus quis augue vestibulum, a cursus lacus tincidunt. Morbi quis lorem ligula.

                p Nunc id ex venenatis, commodo ante nec, dictum orci. Etiam pharetra tortor ut pretium sollicitudin. Duis sed erat ac magna congue tincidunt et quis sapien. Aliquam sagittis ex sed tempor dapibus. Nam neque purus, scelerisque vel pharetra non, placerat ut purus. Mauris quis erat sed quam convallis lacinia. Morbi molestie sem eget risus varius accumsan. Suspendisse nec urna nec orci aliquet maximus. Sed eu consequat velit.

                p In id elit in felis porta aliquet sit amet sed ante. Quisque vel elit fringilla, imperdiet quam a, tempor lectus. Duis rutrum diam eu vehicula eleifend. Curabitur commodo laoreet massa id iaculis. Aenean eu lectus est. Nullam luctus ornare 
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p In id elit in felis porta aliquet sit amet sed ante. Quisque vel elit fringilla, imperdiet quam a, tempor lectus. Duis rutrum diam eu vehicula eleifend. Curabitur commodo laoreet massa id iaculis.
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p In id elit in felis porta aliquet sit amet sed ante. Quisque vel elit fringilla, imperdiet quam a, tempor lectus. Duis rutrum diam eu vehicula eleifend. Curabitur commodo laoreet massa id iaculis.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p In id elit in felis porta aliquet sit amet sed ante. Quisque vel elit fringilla, imperdiet quam a, tempor lectus. Duis rutrum diam eu vehicula eleifend. Curabitur commodo laoreet massa id iaculis.